.supplier-table> th
{
    font-size: 15px!important;
    font-weight: 600;
}
.supplier-table1> td:nth-child(1)
{
    color: rgb(32 126 254)!important;
}
.hr-line
  {
    border-top: 1px solid #f1f1f1a6;
    margin-bottom: 16px;
  }
  @media only screen and (max-width: 1000px) {
    
}